
.item {
  border-left: $item-border-width solid transparent; // this gets rid of the mouse over that moves the text on mouse hover
  cursor: pointer; // makes pointy hand sign when mouse over element
  padding: $space;
  transition: background-color .4s ease, border-left .4s ease; // this allows for the highlighted transition to ease as mouse over 
}

.item:hover {
  background-color: $light-grey;
  border-left: $item-border-width solid $grey; // this causes the border to appear on mouse hover over
}

.item--selected, .item--selected:hover {
  background-color: $light-grey;
  border-left: $item-border-width soild $brand-primary
}

.item-list {
	background-color: white;
	border: 1px solid $grey;
	overflow-y: scroll; // when there is more content than can fit this will allow for a scroll bsr to appear
	width: 100%;
}

.item-list__header {
  display: flex;
  flex-direction: column;
  padding: $space;
}

.item__title {
  font-weight: normal;
  font-size: $base-font-size;
  margin-bottom:  .4rem;
}

.item--selected .item__title {
  font-weight: bold;
}

// Empty item 
.empty-item {
  font-style: italic;
  padding: $space;
  text-align: center;
}

