

// @media (max-width: 50rem) { // @media example
// 	.page-content__sidebar * {
// 		color: red;
// 	}
// }


.page-content {
	display: flex;
	height: $page-content-height;
  	margin: 0 auto;
  	max-width: $site-max-width;
	// @include funkyBackground(#333333)
	@include desktop() {
		padding: $large-space $space;
	}
}

.page-content__sidebar { // hides sidebar when screen width reaches 50rem
	display: flex;
	transition: left .3s ease;	// this will allow for the transition of the side bar
	position: fixed;
	top: $header-height;
	left: -100vw;
	bottom: 0;
	width: 100vw;
	z-index: 1;

	@include desktop() {
		display: flex;
		padding-right: $large-space;
		position: static;
		width: $page-content-sidebar-width;
	}
}

.isNavOpenToggle .page-content__sidebar { // this means that if 'is-nav-open' exists then '.page-con...' will render
	left: 0; // this is where the side bar shifts and re shifts back into view upon the button click
}

.page-content__main {
	display: flex;
	width: 100%;

	// @include funkyBorder(15px) {	// mixin is called here
	// 	color: green;				// this is use above in @content and passed into the function
	// }; 

	@include desktop() {
		width: $page-content-main-width;
	}
}



