

// @media (max-width: 50rem) { // @media example
// 	.page-content__sidebar * {
// 		color: red;
// 	}
// }


.page-content {
	display: flex;
	height: $page-content-height;
  	margin: 0 auto;
  	max-width: $site-max-width;
	// @include funkyBackground(#333333)
	@include desktop() {
		padding: $large-space $space;
	}
}

.page-content__sidebar { // hides sidebar when screen width reaches 50rem
	display: none;
	padding-right: $large-space;
	width: $page-content-sidebar-width;

	@include desktop() {
		display: flex;
	}
}


.page-content__main {
	display: flex;
	width: 100%;

	// @include funkyBorder(15px) {	// mixin is called here
	// 	color: green;				// this is use above in @content and passed into the function
	// }; 

	@include desktop() {
		width: $page-content-main-width;
	}
}



